.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #81A4CD;
    box-shadow: inset 0 -15px 15px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;                 
    width: 100vw;            /* full viewport width part*/
    z-index: 1000;
    height: 80px;
    box-sizing: border-box; /* important for padding */
    
  }
  
  .header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    margin: 0;
    z-index: 999;
    font-family: 'UnifrakturCook', cursive;
  }
  

  .logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
    transition: color 0.2s ease;
  }
  
  .nav-links a:hover {
    color: #444;
  }
  
  .search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
  }
  
  .search-bar input {
    width: 100%;
    max-width: 300px;
    padding: 0.6rem 1rem 0.6rem 2.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #fff;
    color: #333;
    outline: none;
    transition: box-shadow 0.2s ease;
  }
  
  .search-bar input::placeholder {
    color: #888;
  }
  
  .search-bar input:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
  
  .search-icon {
    position: absolute;
    margin-left: 10px;
    font-size: 1.1rem;
    color: #888;
    pointer-events: none;
  }
  
  .left-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  /* Hamburger icon */
  .hamburger-icon {
    color: #ffffff;
    cursor: pointer;
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 200px;
    height: calc(100% - 70px);
    background-color: #81A4CD;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    z-index: 1000;
    text-align: left;
  }

  .sidebar i {
    margin-right: 10px; 
    font-size: 18px; 
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 20px;
  }
  
  .sidebar a, .sidebar button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    
  }
  
  .sidebar button.logout-button {
    color: #ff6961;
    font-weight: bold;
  }
  
  .sidebar button.logout-button:hover {
    color: #f72323;
  }
  